body {
    background-color: #008ff6;
    padding-top: 0%;
    padding: 0%;
    margin:0;
}
header {
    background-color: black;
    /* margin: -10px;*/
    border: none;
    position: relative;
}
main, footer {
    font-family:"DM Serif Text";
    text-align:center;
}
main h1{
    font-size: 50px;
}
footer {
    /* margin: -10px; */
    border: none;
    position: relative;
    background-color: black;
    color:white;
    text-decoration-color: #ffff;
}
footer h4 {
    margin:0;
}
#me {
    background-color: #48b0Fa;
}
#media {
    text-align:center;
    
}
.ai img {
    max-width: 640px;
    height: auto;
}


/*
#me img {
    width:700px;
    max-width:100%;
}
*/