body {
    background-color: #008ff6;
    padding-top: 0%;
    padding: 0%;
    margin:0;
}
header {
    background-color: black;
    /* margin: -10px;*/
    border: none;
    position: relative;
}
main, footer {
    text-align:center;
}
footer {
    /* margin: -10px; */
    border: none;
    position: relative;
    background-color: black;
    
}
footer h4 {
    margin:0;
}
#me {
    background-color: #48b0Fa;
}
footer {
    
    color:white;
    text-decoration-color: #ffff;
}

/*
#me img {
    width:700px;
    max-width:100%;
}
*/